h1 {
  background-color: gold;
  padding-left: 10px;
}
.titans {
  height: 200px;
  widght: 200px;
  float: right;
  margin-right: 20px; 
}
.B:hover {
  content: url('IMG_0767wide.jpg');
  margin-top: -130px;
}
#text {
  float: left;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;

}

html {
  background-image: url('IMG_0767wide.jpg');
  background-size: 1500px;
  background-repeat: no-repeat;
}